[Desktop Entry]
Version=1.0
Terminal=false
Type=Application
Name=decaf-emu
GenericName=Decaf Emu
Exec=decaf-emu
Icon=decaf-emu
Keywords=game;emulator;
Categories=Game;Emulator;
